@font-face {
    font-family: 'louisgeorgecafe';
    src: url(fonts/LouisGeorgeCafe.ttf);
}

@font-face {
    font-family: 'louisgeorgecafebold';
    src: url(fonts/LouisGeorgeCafeBold.ttf);
}

@header: 'louisgeorgecafebold';
@text: 'louisgeorgecafe';

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    .flex;
    height: 100vh;
}

.container {
    width: 85%;
    height: 90%;
    

    .title-bar {
        .flex;
        justify-content: flex-start;

        h1 {
            color: white;
            font-family: @header;
            font-size: 40px;
            margin: 0;
            padding: 0;
            letter-spacing: 2px;
        }

        span {
            font-size: 24px;
            color: white;
            margin-left: 24px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #9a9a9a;
            text-align: center;
            line-height: 30px;
            margin-top: 10px;
        }

    }

    .stats-grid {
        width:100%;
        .flex;
        justify-content: flex-start;
        margin-top: 40px;
        height: 90%;

        .stat-box {
            width: 15%;
            height: 363px;
            background-color: white;
            box-shadow: 0.5rem 1.375rem 4.75rem 0 rgba(0, 0, 0, 0.3);
            margin-right: 32px;
            .flex;
            align-items: flex-start;

            &:nth-child(6n + 6) {
                margin-right: 0px;
            }


            .title {
                width: 100%;
                height: 70px;
                text-align: center;
                .flex;

                h3 {
                    font-family: @header;
                    font-size: 22px;
                }
            }

            .graph {
                width: 48%;
                height: 255px;
                overflow: hidden;
               
                .positive {
                    width: 100%;
                    background: #4DAF7C;
                    transition: 0.3s;

                    &:hover {
                       background-color: rgba(153,204,51,0.7);
                       cursor: pointer;
                    }
                }

                .negative {
                    width:100%;
                    background-color: #C5302D;
                    transition: 0.3s;

                    &:hover {
                       background-color: rgba(192, 58, 42, 0.7);
                       cursor: pointer;
                    }
                }

                &:before {
                    content: "";
                    width: 118px;
                    height: 255px;
                    background-image: url(img/test.png);
                    display: flex;
                    position: absolute;
                    background-position: center center;
                    background-size: cover;
                    pointer-events: none;
                }
            }
        }
    }
}

.pos-info {
    opacity: 0;
    display: none;
    width: 200px;
    height: 110px;
    background-color: white;
    position: absolute;
    z-index: 999;
    margin-left: 100px;
    margin-top: -75px;
    box-shadow: 0.5rem 1.375rem 4.75rem 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;

    span {
        .flex;
        justify-content: flex-start;
        margin-left: 15px;
        margin-top: 15px;
        font-family: @header;
        line-height: 22px;
    }

    .number {
        color: rgba(153,204,51,0.9);
        margin-top: 5px;
    }

    .percent {
        margin-top: 5px;

        .per {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 5px;
            color: rgba(153,204,51,0.9);
        }
    }
}

.neg {
    opacity: 0;
    display: none;
    width: 200px;
    height: 110px;
    background-color: white;
    position: absolute;
    z-index: 999;
    margin-left: 110px;
    margin-top: -40px;
    box-shadow: 0.5rem 1.375rem 4.75rem 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;

    span {
        .flex;
        justify-content: flex-start;
        margin-left: 15px;
        margin-top: 15px;
        font-family: @header;
        line-height: 22px;
    }

    .number {
        color: #C5302D;
        margin-top: 5px;
    }

    .percent {
        margin-top: 5px;

        .per {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 5px;
            color: #C5302D;
        }
    }
}

.note {
    color: white;
    font-family: @header;
    font-size: 16px;
    margin-top: 10px;
}