@font-face {
    font-family: 'louisgeorgecafe';
    src: url(fonts/LouisGeorgeCafe.ttf);
}

@font-face {
    font-family: 'louisgeorgecafebold';
    src: url(fonts/LouisGeorgeCafeBold.ttf);
}

@header: 'louisgeorgecafebold';
@text: 'louisgeorgecafe';

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #1e1e1e;
    font-family: @header;
    margin-bottom: 60px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
    .flex;
    height: 100vh;
}

.container {
    width: 90%;
    height: 60;
    .flex;

    .stats-grid {
        width: 100%;
        height: 70%;
        .flex;

        canvas {
            margin-right: 30px;
            margin-bottom: 30px;
            background-color: white;
            padding: 20px;
            box-shadow: 0.5rem 1.375rem 4.75rem 0 rgba(0, 0, 0, 0.3);
        }
    }
}

